main{
    @extend .texto;
    color: black;
    font-size:larger;
    grid-area: main;
    h1{
        color: red;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
    }
}

.Noticias {
    @extend .texto;
    padding-top: 20vh;
    padding-bottom: 20vh;
    grid-area: Noticias;
    div{
        img{
            height: $dimension/4;
            width: $dimension/4;
            justify-content: center;
        }
        a{
            p{
                color: black;
            }
        }
    }
    @media(min-width:500px){
        justify-content: space-around;
        column-gap: 50px;
        row-gap: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    @media(min-width:750px){
        justify-content: center;
        column-gap: 100px;
        row-gap: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;   
    }
}


.Home{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "Noticias"
    "footer";
    @media(min-width:500px){
        margin: 0px;
        grid-template-areas: 
        "header header"
        "main main"
        "Noticias Noticias"
        "footer footer";
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width:750px){
        margin: 0px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "Noticias Noticias Noticias"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

}
