@import "variables";
@import "generales";
@import "home";
@import "destacados";
@import "productos";
 @import "nosotros";


.Formulario{
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    grid-template-areas: Formulario;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.Contacto{
    display: grid;
    grid-template-areas: 
    "header"
    "Formulario"
    "footer";
    @media(min-width:500px){
        margin: 0px;
    grid-template-areas: 
    "header"
    "Formulario"
    "footer";
    grid-template-columns: 1fr;
    }
}


