.texto, .Locales, .Precios, .ProductosTexto, .Productos, .Destacados, .Informacion, .Noticias, main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  justify-content: center;
}

* {
  margin: 0%;
  padding: 0%;
}

header {
  grid-area: header;
  background-color: bisque;
  justify-content: center;
  display: flex;
}

ul {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  justify-content: center;
  text-align: center;
}

li {
  display: inline-block;
}

body {
  background-image: linear-gradient(to right, white, whitesmoke);
  justify-content: center;
}

footer {
  background-color: bisque;
  margin-top: 40px;
  grid-area: footer;
  text-align: center;
}

main {
  color: black;
  font-size: larger;
  grid-area: main;
}
main h1 {
  color: red;
}
main p {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.Noticias {
  padding-top: 20vh;
  padding-bottom: 20vh;
  grid-area: Noticias;
}
.Noticias div img {
  height: 250px;
  width: 250px;
  justify-content: center;
}
.Noticias div a p {
  color: black;
}
@media (min-width: 500px) {
  .Noticias {
    justify-content: space-around;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 750px) {
  .Noticias {
    justify-content: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }
}

.Home {
  display: grid;
  grid-template-areas: "header" "main" "Noticias" "footer";
}
@media (min-width: 500px) {
  .Home {
    margin: 0px;
    grid-template-areas: "header header" "main main" "Noticias Noticias" "footer footer";
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 750px) {
  .Home {
    margin: 0px;
    grid-template-areas: "header header header" "main main main" "Noticias Noticias Noticias" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.Informacion {
  margin-top: 40px;
  margin-bottom: 100px;
  color: black;
  grid-template-areas: Informacion;
}

.Destacados {
  grid-template-areas: Destacado;
}
.Destacados div a img {
  width: 200px;
  height: 200px;
  transition: 1s;
}
.Destacados div a img:hover {
  height: 260px;
  width: 260px;
}
.Destacados div a p {
  color: darkblue;
  margin-bottom: 70px;
}
@media (min-width: 500px) {
  .Destacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 750px) {
  .Destacados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.Destacado {
  display: grid;
  grid-template-areas: "header" "Informacion" "Destacados" "footer";
}

.Productos {
  padding-top: 50px;
  grid-template-areas: Productos;
}
@media (min-width: 500px) {
  .Productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 750px) {
  .Productos {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 40px;
  }
}

.ProductoImagen {
  height: 250px;
  width: 250px;
  justify-content: center;
  transition: all 1s;
}

.ProductoImagen:hover {
  height: 320px;
  width: 320px;
}

.ProductosTexto {
  color: black;
}

.Precios {
  color: darkgreen;
  font-weight: bolder;
}

.Boton {
  color: black;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 80px;
}

.Producto {
  display: grid;
  grid-template-areas: "header" "Informacion" "Productos" "footer";
}
@media (min-width: 500px) {
  .Producto {
    margin: 0px;
  }
}

.Locales {
  grid-template-areas: Locales;
  margin-bottom: 80px;
  margin-left: 10%;
}
@media (min-width: 750px) {
  .Locales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 70px;
         column-gap: 70px;
    margin-left: 30;
  }
}

.Nosotros {
  display: grid;
  grid-template-areas: "header" "Informacion" "Locales" "footer";
}

.Formulario {
  text-align: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
  grid-template-areas: Formulario;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

.Contacto {
  display: grid;
  grid-template-areas: "header" "Formulario" "footer";
}
@media (min-width: 500px) {
  .Contacto {
    margin: 0px;
    grid-template-areas: "header" "Formulario" "footer";
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */